@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .link{
    @apply  cursor-pointer hover:underline;
   }

   .hoverable {
      position: static;
    }
  
    .hoverable > a:after {
      content: "\25BC";
      font-size: 10px;
      padding-left: 6px;
      position: relative;
      top: -1px;
    }
  
    .hoverable:hover .mega-menu {
      display: block;
    }
}